#body{
  background-color: rgb(114, 114, 114);
  height:100vh;
}

#historybut {
  margin: 10px 50px 0px 50px;
}
button {
  background-color: rgb(95, 220, 95);
  width: 120px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
}
#newpass{
   margin: 20px 20px 5px 23px;
  padding: 5px 5px 5px 5px;

}
#username1{
  margin: 20px 20px 5px 90px;
  padding: 5px 5px 5px 5px;
}
#saveandlogin{
  margin-left: 150px;
  margin-top: 10px;
  cursor: pointer;
}
#resetbut{
  margin-left: 100px;
  margin-top: 30px;
  cursor: pointer;
}
#msg{
  margin-left: 50px;
}
#resetpass{
  margin-left: 110px;
  margin-top: 20px;
}
#confirmpass
{
  margin: 20px 20px 5px 10px;
  padding: 5px 5px 5px 5px;
}
#passResetContainer {
  background-color: rgb(207, 206, 206);
  margin: 3% 20% 20% 30%;
  padding: 0px 0px 0px 0px;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}
#rstmsg1,#rstmsg2,#rstmsg3{
  margin-left: 160px;
}

#load2 {
  margin: 0px 500px 0px 190px;
  color: rgb(74, 74, 236);
}
#loginbut {
  margin-left: 110px;
  margin-top: 20px;
}
#regbut {
  margin: 10px 0px 10px 110px;
}
#commonerror {
  margin: 10px 50px 10px 80px;
}
h2 {
  margin-left: 30px;
}
#load {
  margin-left: 40%;
  color: blue;
}
#container {
  background-color: rgb(162, 162, 162);
  margin: 5% 20% 20% 30%;
  padding: 0px 0px 0px 0px;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}
#sucess {
  margin: 5% 20% 0% 30%;
  width: 400px;
}
#s {
  background-color: rgb(77, 195, 77);
  border-radius: 20px;
}
p {
  font-weight: bold;
}
#logincontainer {
  background-color: rgb(207, 206, 206);
  margin: 3% 20% 20% 30%;
  padding: 0px 0px 0px 0px;
  width: 400px;
  height: 380px;
  border-radius: 20px;
}
#username {
  margin: 20px 20px 5px 20px;
  padding: 5px 5px 5px 5px;
}
#name {
  margin: 20px 20px 5px 20px;
  padding: 5px 5px 5px 5px;
}
#password {
  margin: 20px 20px 5px 20px;
  padding: 5px 5px 5px 5px;
}
#load1 {
  margin-left: 5%;
  color: rgb(16, 16, 218);
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(130, 145, 130);
}
#logbut {
  border-radius: 30px;
  margin: 0px 0px 0px 0px;
}
h5 {
  margin-top: 70px;
}
#dashcontainer {
  text-align: center;
  background-color: rgb(207, 206, 206);
  height: 300px;
  width: 400px;
  margin: 200px 300px 50px 400px;
  border-radius: 20px;
}
#amt {
  margin: 5% 20% 5% 5%;
}
#amount {
  width: 200px;
  margin-left: 20px;
}
#dec {
  margin: 0% 20% 5% 5%;
}

input {
  width: 200px;
  border: 0px 0px 0px 0px;
}
span {
  margin-left: 105px;
}
#entrieslist {
  display: none;
}
a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(110, 200, 110);
  border-style: dotted;
  padding: 5px;
  border-radius: 12px;
}
#pageswitch {
  margin-left: 30px;
}
#listcontain {
  margin: 0px 700px 100px 430px;
  background-color: rgb(220, 226, 226);
  border-radius: 20px;
  /* border: 1px solid black; */
}
li {
  /* border: 1px solid black; */
  /* list-style: none; */
  border-collapse: collapse;
}
